@use '../abstract/variaveis' as *;

header {
    background-color: $background-color;
    padding: 1rem 1rem;
}

@media screen and (min-width: 768px) {
    header {
        padding: 4rem 2.5rem;
    }   
}