/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F3F5FC;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hidden {
  display: none !important;
}

header {
  background-color: #F3F5FC;
  padding: 1rem 1rem;
}

@media screen and (min-width: 768px) {
  header {
    padding: 4rem 2.5rem;
  }
}
@media screen and (min-width: 1008px) {
  header {
    padding: 2rem 0 0 5rem;
  }
}
.s-textarea {
  background-color: #F3F5FC;
  text-align: center;
}
.s-textarea__area {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #0A3871;
  background-color: #F3F5FC;
  resize: none;
  border: none;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
}
.s-textarea__area::-moz-placeholder {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #0A3871;
}
.s-textarea__area::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #0A3871;
}
.s-textarea__area::-moz-selection {
  background-color: #609ED4;
  color: #FFFFFF;
}
.s-textarea__area::selection {
  background-color: #609ED4;
  color: #FFFFFF;
}
.s-textarea__info {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  color: #343A40;
  margin: 1rem 2rem 1rem 1rem;
  text-align: left;
}
.s-textarea__info img {
  vertical-align: text-top;
}
.s-textarea__buttons {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  gap: 1rem;
}
.s-textarea__buttons .button__encrypt, .s-textarea__buttons .button__decrypt {
  cursor: pointer;
  border-radius: 24px;
  padding: 18px;
  background-color: #0A3871;
  border: #0A3871 1px solid;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #FFFFFF;
}
.s-textarea__buttons .button__decrypt {
  background-color: transparent;
  color: #0A3871;
}

@media screen and (min-width: 768px) {
  .s-textarea__area {
    width: calc(100% - 5rem);
    height: calc(100% - 5rem);
  }
  .s-textarea__info {
    margin: 2rem 5rem 2rem 2rem;
  }
  .s-textarea__buttons {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2rem;
  }
  .s-textarea__buttons .button__encrypt, .s-textarea__buttons .button__decrypt {
    flex-grow: 1;
  }
}
@media screen and (min-width: 1008px) {
  .group-desktop {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    gap: 50px;
  }
  .group-desktop .s-textarea {
    text-align: left;
    padding-top: 10rem;
  }
  .group-desktop .s-textarea__area {
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #0A3871;
    width: 100%;
    height: calc(100% - 20rem);
  }
  .group-desktop .s-textarea__area::-moz-placeholder {
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #0A3871;
  }
  .group-desktop .s-textarea__area::placeholder {
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #0A3871;
  }
  .group-desktop .s-textarea__info {
    margin: 0 0 2rem 0;
  }
  .group-desktop .s-textarea__buttons {
    margin: 0;
  }
}
.c-message {
  padding: 3rem 1rem;
  background-color: #F3F5FC;
  text-align: center;
}
.c-message__text {
  background-color: #FFFFFF;
  border-radius: 32px;
  padding: 2rem 1rem;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: space-between;
}
.c-message__text img {
  display: none;
}
.c-message__text .text__main-text {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #343A40;
  line-break: strict;
  word-break: break-word;
}
.c-message__text .text__sec-text {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: #343A40;
}
.c-message__text .text__btn {
  cursor: pointer;
  border-radius: 24px;
  margin-top: 10rem;
  padding: 18px;
  background-color: transparent;
  border: #0A3871 1px solid;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #0A3871;
}

@media screen and (min-width: 1008px) {
  .c-message {
    width: 400px;
    padding: 3rem 2rem;
  }
  .c-message .text__sec-text {
    margin-bottom: 10rem;
  }
  .c-message__text {
    padding: 2rem 2rem 2rem 2rem;
    min-height: 576px;
  }
  .c-message__text img {
    padding-top: 8rem;
    display: block;
  }
}
footer {
  background-color: #F3F5FC;
  padding: 1.5rem 1.5rem;
  text-align: center;
  margin-top: auto;
}
footer .footer__text {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  color: #343A40;
}
footer .footer__text a {
  color: #0A3871;
  text-decoration: none;
}
footer .footer__text a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */